*{
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    border: 2px solid;
    background-color: #E0DDDD;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.box{
    background-color: white;
    display: flex;
    justify-content: space-between;
    min-width: 47%;
    border-radius: 10px;
}

.circle-box{
    font-size: 45px;
    padding: 17px;
    display: flex;
    align-items: center;
    color: #0e60bd;
}

.circle-box:hover{
    color: #003169;
    cursor: pointer;
}

.task-item1{
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trash-icon{
    font-size: 20px;
    padding: 17px;
    display: flex;
    align-items: center;
    color: #0e60bd;
}

.trash-icon:hover{
    color: #003169;
    cursor: pointer;
}

.title{
    color: blue;
    font-size: 18px;
}

.description{
    color: black;
    font-size: 21px;
    padding: 7px 0 7px 0;
}

.fecha-inicio, .fecha-cierre{
    color: #3b3b3b;
}